<!DOCTYPE html>
<html>
<head>
	<title>THIS - Trash Handling Information System</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" href="/flat/dist/assets/images/kudaicon.ico" type="image/x-icon">
</head>
<body>
	<div class="complete-profile-warga">  	
		<div class="form-complete-profile-warga">
			<form autocomplete="off" action="/users/warga/save-profile" method="post">
				<label for="chk" aria-hidden="true">DATA WARGA</label>
				<select class="dropdown_signup btn-primary" name="jenis_kelamin">
					<option selected disabled hidden>Jenis Kelamin:</option>
					<option value="L">Laki-laki</option>
					<option value="P">Perempuan</option>
				</select>					
				<input type="text" name="no_telp" placeholder="No Telepon" required>
				<select class="dropdown_signup btn-primary" name="provinsi" id="provinsi">
					<option selected disabled hidden>provinsi:</option>
				</select>	
				<select class="dropdown_signup btn-primary" name="kota" id="kota" required>
					<option selected disabled hidden>kota:</option>
				</select>	
				<select class="dropdown_signup btn-primary" name="kecamatan" id="kecamatan" required>
					<option selected disabled hidden>kecamatan:</option>
				</select>	
				<select class="dropdown_signup btn-primary" name="kelurahan" id="kelurahan" required>
					<option selected disabled hidden>kelurahan:</option>
				</select>	
				<input type="text" name="alamat" placeholder="Alamat Rumah" required>
				<button type="submit">Sign up</button>
			</form>
		</div>
	</div>
</body>
</html>