<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="complete-profile-warga">  	
		<div class="form-complete-profile-warga">
			<form autocomplete="off" action="/users/warga/save-profile" method="post">
				<label for="chk" aria-hidden="true">DATA PUBLIC</label>
				<select class="dropdown_signup btn-primary" name="jenis_kelamin">
					<option selected disabled hidden>Jenis Kelamin:</option>
					<option value="L">L</option>
					<option value="P">P</option>
				</select>					
				<input type="text" name="no_telp" placeholder="No Telepon" required="">
				<input type="text" name="alamat" placeholder="Alamat" required="">
				<button>Sign up</button>
			</form>
		</div>
	</div>
</body>
</html>