<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="complete-profile-mitra">  	
		<div class="form-complete-profile-mitra">
			<form autocomplete="on" action="/users/mitra/save-profile" method="post">
				<label for="chk" aria-hidden="true">DATA MITRA</label>
				<select class="dropdown_signup btn-primary" name="jenis_mitra">
					<option selected disabled hidden>Jenis Mitra:</option>
					<option value="pemerintah">Government</option>
					<option value="non-pemerintah">Non-Government</option>
				</select>					
				<input type="text" name="no_telp" placeholder="Telepon Kantor" required="">
				<input type="email" name="alamat" placeholder="Alamat Kantor" required="">
				<button>Sign up</button>
			</form>
		</div>
	</div>
</body>
</html>