<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" href="/flat/dist/assets/images/kudaicon.ico" type="image/x-icon">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
		<div class="signup">
			<form action="/saveusers" method="post">
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="nama_users" placeholder="User name" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="password" placeholder="Password" required="">
				<select class="dropdown_signup btn-primary" placeholder="llll" name="role_users">
					<option selected disabled hidden>Account type:</option>
					<option value="warga">warga</option>
					<option value="mitra">mitra</option>
				</select>					
				<button type="submit">Sign up</button>
			</form>
		</div>

		<div class="login">
			<form autocomplete="off" action="/log" method="post">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="password" placeholder="Password" required="">
				<button type="submit">Login</button>
			</form>
		</div>
		<div id="animation">
			<div class="bubble x1"></div>
			<div class="bubble x2"></div>
			<div class="bubble x3"></div>
			<div class="bubble x4"></div>
			<div class="bubble x5"></div>
			<div class="bubble x6"></div>
			<div class="bubble x7"></div>
			<div class="bubble x8"></div>
			<div class="bubble x9"></div>
			<div class="bubble x10"></div>
			<div class="bubble x11"></div>
			<div class="bubble x12"></div>
			<div class="bubble x13"></div>
			<div class="bubble x14"></div>
			<div class="bubble x15"></div>
			<div class="bubble x16"></div>
			<div class="bubble x17"></div>
			<div class="bubble x18"></div>
			<div class="bubble x19"></div>
			<div class="bubble x20"></div>
		</div>
	</div>
</body>
</html>