<!DOCTYPE html>
<html lang="en">

<head>
    <title>THIS - Trash Handling Information System</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="/flat/dist/assets/images/kudaicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/flat/dist/assets/css/style.css">
    
    

</head>
<body class="" onload="getLocation();">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar  ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				
				<div class="">
					<div class="main-menu-header">
						<img class="img-radius" src="/flat/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
						<div class="user-details">
							<span>Iqbal</span>
							<div id="more-details">Warga</div>
						</div>
					</div>
				</div>
				
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/users/warga" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
                    <li class="nav-item">
					    <a href="/users/warga/sell" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span><span class="pcoded-mtext">Sell</span></a>
					</li>
					<li class="nav-item">
					    <a href="/users/warga/kotak_laporan" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span><span class="pcoded-mtext">Kotak Laporan</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>EXIT</label>
					</li>
					<li class="nav-item">
					    <a href="/logout" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span>Logout</span></a>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">	
		<div class="m-header">
			<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
			<a href="#!" class="b-brand">
				<!-- ========   change your logo hear   ============ -->
				<img src="/flat/dist/assets/images/kuda.png" alt="" class="logo">
				<img src="/flat/dist/assets/images/logo-icon.png" alt="" class="logo-thumb">
			</a>
			<a href="#!" class="mob-toggler">
				<i class="feather icon-more-vertical"></i>
			</a>
		</div>
	</header>
	<!-- [ Header ] end -->
	
	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">ISI DATA PENJUALAN SAMPAH</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/users/warga"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/users/warga">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/users/warga/sell">Sell</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            
            <div class="row">
                <div class="col-sm-12">
                     <form class="card" action="" method="post">
                        <div class="card-header">
                            <h5>Jual Sampah Anda</h5>
                        </div>
                        <div class="card-body">
							<form action="/users/warga/sell/sampah/submit" method="post" enctype="multipart/form-data">

								
								<h5 class="mt-3">Jenis Sampah</h5>
								<div class="input-group mb-3">
									<select class="form-control" name="jenis_sampah" id="jenisSampah" onchange="updateDropdownLabel(this, 'labelJenisSampah')">
										<option selected disabled hidden>Choose...</option>
										<option value="plastik">Plastik</option>
										<option value="logam">Logam</option>
										<option value="kertas">Kertas</option>
										<option value="lainnya">Lainnya</option>
									</select>
								</div>
								<h5 class="mt-3">Lokasi Anda</h5>
								<div class="input-group mb-3">
									<div class="custom-file">
										<select class="custom-file-input" name="provinsi" id="provinsi" onchange="updateDropdownLabel(this, 'labelProvinsi')">
											<option selected disabled hidden>provinsi:</option>
											<!-- Options akan diisi dengan JavaScript -->
										</select>
										<label class="custom-file-label" for="provinsi" id="labelProvinsi">Pilih Provinsi</label>
									</div>
								</div>
								<div class="input-group mb-3">
									<div class="custom-file">
										<select class="custom-file-input" name="kota" id="kota" onchange="updateDropdownLabel(this, 'labelKota')">
											<option selected disabled hidden>kota:</option>
										</select>
										<label class="custom-file-label" for="kota" id="labelKota">Pilih Kota</label>
									</div>
								</div>
								<div class="input-group mb-3">
									<div class="custom-file">
										<select class="custom-file-input" name="kecamatan" id="kecamatan" onchange="updateDropdownLabel(this, 'labelKecamatan')">
											<option selected disabled hidden>kecamatan:</option>
										</select>
										<label class="custom-file-label" for="kecamatan" id="labelKecamatan">Pilih Kecamatan</label>
									</div>
								</div>
								<div class="input-group mb-3">
									<div class="custom-file">
										<select class="custom-file-input" name="kelurahan" id="kelurahan" onchange="updateDropdownLabel(this, 'labelKelurahan')">
											<option selected disabled hidden>kelurahan:</option>
										</select>
										<label class="custom-file-label" for="kelurahan" id="labelKelurahan">Pilih Kelurahan</label>
									</div>
								</div>
								<div class="input-group mb-3">
									<input type="text" class="form-control" name="latitude" id="latitude"  value=" " placeholder="Lokasi" aria-describedby="inputGroupPrepend" required readonly>
									<div class="invalid-feedback">
										Please choose a username.
									</div>
								</div>	
								<div class="input-group mb-3">
									<input type="text" class="form-control" name="longitude" id="longitude" value=" " placeholder="Lokasi" aria-describedby="inputGroupPrepend" required readonly>
									<div class="invalid-feedback">
										Please choose a username.
									</div>
								</div>							
								<h5 class="mt-3">File Foto</h5>
								<div class="input-group mb-3">
									<div class="form-select">
										<input type="file" class="custom-file-input" id="inputGroupFile01" onchange="updateFileName(this)">
										<label class="custom-file-label" for="inputGroupFile01">Pilih file foto</label>
									</div>
								</div>
	
								<h5 class="mt-3">File Video</h5>
								<div class="input-group mb-3">
									<div class="form-select">
										<input type="file" class="custom-file-input" id="inputGroupFile02" onchange="updateFileName(this)">
										<label class="custom-file-label" for="inputGroupFile02">Pilih file video</label>
									</div>
								</div>
	
								<button type="submit" class="btn btn-primary col-md-12 mb-3">SUBMIT</button>
								<a href="/users/warga" class="btn btn-warning col-md-12 mb-3">CANCEL</a>
							</form>
                        </div>
                    </form> 
                </div>
            </div>
            <!-- [ form-element ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </section>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="/flat/dist/assets/js/vendor-all.min.js"></script>
    <script src="/flat/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/flat/dist/assets/js/pcoded.min.js"></script>
	
	<script>
		function updateDropdownLabel(selectElement, labelId) {
			const selectedOption = selectElement.options[selectElement.selectedIndex].text;
			document.getElementById(labelId).innerHTML = selectedOption;
		}
	</script>

	<script type="text/javascript">
		function getLocation(){
			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(showPosition)
			}
		}

		function showPosition(position) {
		document.querySelector('input[name="latitude"]').value = position.coords.latitude;
		document.querySelector('input[name="longitude"]').value = position.coords.longitude;
	    }
	</script>

	<script>
		function updateDropdownLabel(selectElement, labelId) {
			const selectedOption = selectElement.options[selectElement.selectedIndex].text;
			document.getElementById(labelId).innerHTML = selectedOption;
		}
		fetch("https://kanglerian.github.io/api-wilayah-indonesia/api/provinces.json")
			.then(response => response.json())
			.then(provinces => {
				var options = '<option selected disabled hidden>Provinsi</option>';
				provinces.forEach(province => {
					options += `<option data-reg="${province.id}" value="${province.name}">${province.name}</option>`;
				});
				document.getElementById('provinsi').innerHTML = options;
			});
		document.getElementById('provinsi').addEventListener('change', (e) => {
			var provinsiId = e.target.options[e.target.selectedIndex].dataset.reg;
			fetch(`https://kanglerian.github.io/api-wilayah-indonesia/api/regencies/${provinsiId}.json`)
				.then(response => response.json())
				.then(regencies => {
					var options = '<option selected disabled hidden>Kota</option>';
					regencies.forEach(kota => {
						options += `<option data-dist="${kota.id}" value="${kota.name}">${kota.name}</option>`;
					});
					document.getElementById('kota').innerHTML = options;
				});
		});
		
		document.getElementById('kota').addEventListener('change', (e) => {
			var kotaId = e.target.options[e.target.selectedIndex].dataset.dist;
			fetch(`https://kanglerian.github.io/api-wilayah-indonesia/api/districts/${kotaId}.json`)
				.then(response => response.json())
				.then(districts => {
					var options = '<option selected disabled hidden>Kecamatan</option>';
					districts.forEach(kecamatan => {
						options += `<option data-vill="${kecamatan.id}" value="${kecamatan.name}">${kecamatan.name}</option>`;
					});
					document.getElementById('kecamatan').innerHTML = options;
				});
		});
		
		document.getElementById('kecamatan').addEventListener('change', (e) => {
			var kecamatanId = e.target.options[e.target.selectedIndex].dataset.vill;
			fetch(`https://kanglerian.github.io/api-wilayah-indonesia/api/villages/${kecamatanId}.json`)
				.then(response => response.json())
				.then(villages => {
					var options = '<option selected disabled hidden>Kelurahan</option>';
					villages.forEach(kelurahan => {
						options += `<option value="${kelurahan.name}">${kelurahan.name}</option>`;
					});
					document.getElementById('kelurahan').innerHTML = options;
				});
		});
	</script>

	<script>
		function updateFileName(input) {
			const fileName = input.files[0]?.name || "Pilih file";
			input.nextElementSibling.innerHTML = fileName;
		}
	</script>
		

	<script>
		fetch("https://kanglerian.github.io/api-wilayah-indonesia/api/provinces.json")
			.then(response => response.json())
			.then(provinces => {
				var data = provinces;
				var tampung = '<option>Provinsi</option>';
				data.forEach(element => {
					tampung += `<option data-reg="${element.id}" value="${element.name}">${element.name}</option>`;
				});
				document.getElementById('provinsi').innerHTML = tampung;
			});
	
		const pilihProvinsi = document.getElementById('provinsi');
		pilihProvinsi.addEventListener('change', (e) => {
			var provinsi = e.target.options[e.target.selectedIndex].dataset.reg;
			fetch(`https://kanglerian.github.io/api-wilayah-indonesia/api/regencies/${provinsi}.json`)
				.then(response => response.json())
				.then(regencies => {
					var data = regencies;
					var tampung = '<option>Kota</option>';
					data.forEach(element => {
						tampung += `<option data-dist="${element.id}" value="${element.name}">${element.name}</option>`;
					});
					document.getElementById('kota').innerHTML = tampung;
				});
		});
	
		const pilihKota = document.getElementById('kota');
		pilihKota.addEventListener('change', (e) => {
			var kota = e.target.options[e.target.selectedIndex].dataset.dist;
			fetch(`https://kanglerian.github.io/api-wilayah-indonesia/api/districts/${kota}.json`)
				.then(response => response.json())
				.then(districts => {
					var data = districts;
					var tampung = '<option>Kecamatan</option>';
					data.forEach(element => {
						tampung += `<option data-vill="${element.id}" value="${element.name}">${element.name}</option>`;
					});
					document.getElementById('kecamatan').innerHTML = tampung;
				});
		});
	
		const pilihKecamatan = document.getElementById('kecamatan');
		pilihKecamatan.addEventListener('change', (e) => {
			var kecamatan = e.target.options[e.target.selectedIndex].dataset.vill;
			fetch(`https://kanglerian.github.io/api-wilayah-indonesia/api/villages/${kecamatan}.json`)
				.then(response => response.json())
				.then(villages => {
					var data = villages;
					var tampung = '<option>Kelurahan</option>';
					data.forEach(element => {
						tampung += `<option value="${element.name}">${element.name}</option>`;
					});
					document.getElementById('kelurahan').innerHTML = tampung;
				});
		});
	</script>

</body>

</html>
